.bg {
    background-color:#0268DB;
    border-bottom: 2px solid #4B8FDB;
}

.about-me{
    background-color: rgb(255, 255, 255);
}


h2{
    font-size: 1.75em;
    color : #02bca6;
}

ul {
    font-size: 1.5em;
    list-style-position: inside;
    color : #02bca6;
}

li {
    padding-left: 0.5rem;
    font-size: 1.5rem;
    font-family: "Spectral", serif;
    font-weight: 300;
    color : black;
}

p {
    margin: 0px;
    font-size: 1.5em;
    font-family: "Spectral", serif;
    font-weight: 400;
    font-style: normal;
}

hr{
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: 10%;
    margin-right: 10%;
    border-width: 2px;
    border-style: dotted;
    border-color: #0268DB;
}

.navbar-brand{
    color: white;
}

.nav-link{
    color: rgba(255, 255, 255, 0.649);
}

img{
    width: 150px;
    height: 150px;
    object-fit: cover;
    background-color: white;;
    border: 2px solid #02bca6;
    border-radius:20%;
}

.img-project{
    height: 180px;
    width: 360px;
    object-fit: cover;
    border: 3px solid #02bca6;
    border-radius: 5px;
}

.profile-img{
    border-radius: 50%;
    border: 2px solid #02bca6;
    width: 200px;
    height: 200px;
    justify-content: center;
}
.row{
    margin: 0px;
    padding: 0px;
}
.text-header{
    font-size: 3em;
    color : #02bca6;
}

.img-container{
    padding-right: 1em;
    padding-left: 1em;
}

.flex-text{
    max-width: 360px;
}